@model BlogPost
@{
	ViewBag.Title = ViewBag.Action + "Post";
	Layout = "_Layout";
}


<div class="d-flex flex-column gap-4 w-50" style="margin-left:20px">

	<h2>@ViewBag.Title</h2>
	<form asp-action="AddOrEdit" class="d-flex flex-column gap-4">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-floating">
			<input
				asp-for="Title"
				class="form-control"
				id="title" type="text"
				placeholder="Amazing title..."/>
			<label for="title">Amazing title...</label>
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>

		<div class="form-floating">
			<textarea
				asp-for="Content"
				class="form-control"
				id="content"
				style="height:30vh"
				type="text"
				placeholder="Superb content...">
			</textarea>
			<label for="content">Superb content...</label>
			<span asp-validation-for="Content" class="text-danger"></span>
		</div>

		<div class="row gap-2">
			<a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary col-3">&larr; Back</a>
			<button type="submit" class="btn btn-outline-success w-25">Submit</button>
		</div>
	</form>
</div>