@model BlogApp.Models.BlogPost
@{
	ViewBag.Title = "Update";
	Layout = "_Layout";
}

<h2>Update</h2>
<form asp-action="Update">
	<label>Title</label>
	<input asp-for="Title" value="@Model.Title" class="form-control"/>
	<label>Content</label>
	<textarea asp-for="Content" class="form-control"></textarea>
	<button type="submit" class="btn btn-outline-success">Submit</button>
</form>