* {
  margin: 0;
  box-sizing:border-box;
}

html {
  font-size: 16px;
}

#all-posts-wrapper {
  border: solid rgb(176, 179, 184, 0.4);
  border-radius:20px;
  padding:20px;
  height:65vh;
  width:60vw;
  overflow-y: auto;
}

#post-list{
  list-style:none;
  padding:0;
}

.list-post-item {
  color:black;
  text-decoration:none;
}

.list-post-item-wrapper:hover {
  color:black;
  background-color: rgb(171, 169, 169, 0.5);
  border-radius:20px;
}

.header-title {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}