@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<a
		class="btn btn-outline-primary"
		asp-controller="Job"
		asp-action="List">
		View All Jobs
	</a>

	<a
		class="btn btn-outline-primary"
		asp-controller="Job"
		asp-action="List">
		Add New Job
	</a>

	
</div>