@model List<Job>

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<h2>Viewing all jobs</h2>

<ul>
	@foreach (var job in Model)
	{
		<hr/>
		<li>@job.Title</li>
		<li>@job.Description</li>
		<li>@job.Employer</li>
		<li>@job.Salary</li>
		<hr/>
	}
</ul>